.main-wraper {
  background: #bcdee7
    url("https://images.unsplash.com/photo-1456271390536-693558280c8f?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=996&q=80&cs=tinysrgb")
    no-repeat center center;
  background-size: cover;
  background-color: #bcdee7;
  background-blend-mode: soft-light;
}

.app-card {
  display: flex;
  flex-direction: column;
  width: calc(33.3% - 200px);
  font-size: 16px;
  background-color: rgb(146 151 179 / 13%);
  border-radius: 14px;
  border: 1px solid rgba(16 18 27 / 40%);
  padding: 20px;
  cursor: pointer;
  transition: 0.3s ease;
  min-height: 210px;
  min-width: 200px
}

.app-card:hover {
  transform: scale(1.07);
  background-color: var(--theme-bg-color);
}

.main-wraper .css-11lq3yg-MuiGrid-root {
  display: flex;
  justify-content: space-evenly;
  gap: 25px;
}

.main-wraper .css-5cxbe8-MuiPaper-root-MuiCard-root {
  box-shadow: 6px 4px 8px 0px black;
}

.card-box {
  border-top: 6px solid #ff8100;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  width: 220px;
}

.card-box .css-1807xm1-MuiPaper-root-MuiCard-root {
  min-height: 215px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.card-box .css-1fuesak-MuiPaper-root-MuiCard-root {
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px;
  margin-bottom: 45px;
}

.profile-page {
  display: flex;
  justify-content: space-evenly;
}

.footer-name {
  display: grid;
  grid-template-columns: repeat(5, 250px);
  grid-auto-rows: 50px;
  align-items: center;
  justify-items: start;
}
.search-component {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search-compo {
  display: flex;
}

.search-compo .MuiFormGroup-root {
  display: flex;
  flex-direction: row;
}
